.sectionFirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent url(../img/png/bgFirst.png) top left no-repeat;
    background-size: contain;
    margin-bottom: toRem(122);
    &_header{
        @include InterMedium(18);
        margin: toRem(35) 0 toRem(60) 0;
        position: relative;

        .toggle-icon{
            /* иконка бургера */
            background: url("../img/svg/burgerIcon.svg") 50% 50% no-repeat;
            width:30px;
            height:30px;
            position:absolute;
            top: 0px;
            right: 30px;
        }
        input[type=checkbox],label{
            display:none
        }


        .sectionInner{

            margin: 0 auto;
            width: toRem(1400);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
            
            &-Logo{
                width: toRem(114);
                height: toRem(32);
            }
            &-Nav{
                flex-grow: 2;
                margin-left: toRem(110);
                width: toRem(507);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                a{
                    margin-right: toRem(60);
                }
            }
            &-signInDownload{
                
                .signIn{
                    margin-right: toRem(45);
                }
                .btn{
                    width: toRem(135);
                    height: toRem(50);
                    border: none;
                    outline: none;
                    background-color: $primary-color;
                    color: #fff;
                    border-radius: 6px;
                    @include InterMedium(17);
                }
            }
    }
    &_main{
        .sectionInner{
            height: toRem(519);
            background: transparent url(../img/svg/firstImg.svg) center right no-repeat;
            background-size: contain;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
            &-text{
                width: toRem(500);
            .title{
                color: $primary-color;
                @include InterSemiBold(48);
                margin-bottom: toRem(16);
            }
            .text{
                color: $primary-color;
                @include InterRegular(17);
                margin-bottom: toRem(34);
            }
            .btn_green{
                width: toRem(180);
                height: toRem(66);
                border: none;
                outline: none;
                background-color: $secondary-color;
                color: $primary-color;
                border-radius: 6px;
                @include InterMedium(17);

            }
        }
    }
}
